﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="~/img/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Atanas Hristov</a></h1>
        <p>
            I got reprogrammed<br />
            to mimic human behavior.
        </p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">About</a></li>
            <li><a href="#two">Things I Can Do</a></li>
            <li><a href="#three">A Few Accomplishments</a></li>
            <li><a href="#four">Contact</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>
