﻿<!DOCTYPE html>

@{
    ViewData["CultureLang"] = ViewData["CultureLang"] ?? "en-US";
    ViewBag.Title = ViewBag.Title ?? "Atanas Hristov";
}
<html lang="@ViewData["CultureLang"]">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @RenderSection("meta", required: false)
    <title>@ViewBag.Title</title>


    <environment names="Development">
        <link rel="stylesheet" href="~/build/css/3rdparty/bootstrap/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/build/css/3rdparty/bootstrap/tether.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/build/css/3rdparty/bootstrap/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/build/css/3rdparty/bootstrap/bootstrap-custom.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/build/css/site/main.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/css/3rdparty.css?v=1.0.0" />
        <link rel="stylesheet" href="~/dist/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div>
        @Html.Partial("_Header.cshtml")
        @RenderBody()
    </div>


    <script src="~/dist/js/3rdparty.js?v=1.0.0"></script>
    <environment names="Development">
        <script src="~/build/js/site/jquery.scrollzer.js" asp-append-version="true"></script>
        <script src="~/build/js/site/util.js" asp-append-version="true"></script>
        <script src="~/build/js/site/main.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/js/site.js" asp-append-version="true" ></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
