﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery


@{

    var token = Antiforgery.GetAndStoreTokens(Context);
}


@section meta {
    @*
        Setup antiforgery tokens for the JavaScript.
    *@
    <meta name="x-antiforgery-name" content="@token.HeaderName" />
    <meta name="x-antiforgery-token" content="@token.RequestToken" />
}



<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>Atanas Hristov</h2>
                    <p>
                        I am now allowed to function in an intelligent manner.
                    </p>
                </header>
                <p>
                    Atanas Hristov has been dedicated to the <strong>Software Development Industry</strong> for over two decades.
                    He is passionated about good <strong>Software Design</strong> and latest <strong>Technologies</strong>.
                    He brings creative and collaborative aproach to the <strong>Software Development Process</strong>.
                </p>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>Things I Can Do</h3>
                <p>
                    I am highly capable <strong>problem solver</strong> with bag full of good skills. Few of these are:
                </p>
                <ul class="feature-icons">

                    <li class="fa-code">Write neat code</li>
                    <li class="fa-coffee">Drink much coffee</li>
                    
                    <li class="fa-handshake-o">Apply agile methodologies</li>
                    <li class="fa-heart">Be a good father</li>

                    <li class="fa-book">Read books and stuff</li>
                    <li class="fa-motorcycle">Explore the world</li>
                    
                </ul>
            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <div class="container">
                <h3>A Few Accomplishments</h3>
                <p>
                    It is not a secret that I write trully outstanding block posts <i class="fa-smile-o"></i>. 
                    I get healthy inspiration from everyday life and here are my last attempts for capture the history.
                </p>
                <div class="features">
                    <article>
                        <a href="#" class="image"><img src="~/img/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Possibly broke spacetime</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="~/img/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Terraformed a small moon</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="~/img/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Snapped dark matter in the wild</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Four -->
        <section id="four">
            <div class="container">
                <h3>Contact Me</h3>
                <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
                        <div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    </div>
                    <div class="row uniform">
                        <div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
                    </div>
                    <div class="row uniform">
                        <div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" class="special" value="Send Message" /></li>
                                <li><input type="reset" value="Reset Form" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>



    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>&copy; Atanas Hristov. All rights reserved.</li>
                <li>Home: <a href="http://www.atanashristov.com">www.atanashristov.com</a></li>
            </ul>
        </div>
    </section>

</div>
