﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery


@{

    var token = Antiforgery.GetAndStoreTokens(Context);
}


@section meta {
    @*
        Setup antiforgery tokens for the JavaScript.
    *@
    <meta name="x-antiforgery-name" content="@token.HeaderName" />
    <meta name="x-antiforgery-token" content="@token.RequestToken" />
}



<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Willis Corto</a></h1>
        <p>
            I got reprogrammed by a rogue AI<br />
            and now I'm totally cray
        </p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">About</a></li>
            <li><a href="#two">Things I Can Do</a></li>
            <li><a href="#three">A Few Accomplishments</a></li>
            <li><a href="#four">Contact</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>Read Only</h2>
                    <p>
                        Just an incredibly simple responsive site<br />
                        template freebie by <a href="http://html5up.net">HTML5 UP</a>.
                    </p>
                </header>
                <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.</p>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>Things I Can Do</h3>
                <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
                <ul class="feature-icons">
                    <li class="fa-code">Write all the code</li>
                    <li class="fa-cubes">Stack small boxes</li>
                    <li class="fa-book">Read books and stuff</li>
                    <li class="fa-coffee">Drink much coffee</li>
                    <li class="fa-bolt">Lightning bolt</li>
                    <li class="fa-users">Shadow clone technique</li>
                </ul>
            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <div class="container">
                <h3>A Few Accomplishments</h3>
                <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
                <div class="features">
                    <article>
                        <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Possibly broke spacetime</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Terraformed a small moon</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Snapped dark matter in the wild</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Four -->
        <section id="four">
            <div class="container">
                <h3>Contact Me</h3>
                <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
                        <div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    </div>
                    <div class="row uniform">
                        <div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
                    </div>
                    <div class="row uniform">
                        <div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" class="special" value="Send Message" /></li>
                                <li><input type="reset" value="Reset Form" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>



    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>

</div>
